In [1]:
import numpy as np
import pandas as pd

In [2]:
CLASS_NAMES = ["neutral", "happiness", "surprise", "sadness", "anger", "disgust", "fear"]

In [3]:
seed = 42

# Train part

In [4]:
path_train = './data/FER2013Train/label.csv'
train_df = pd.read_csv(path_train, header=None)
print(train_df.shape)
train_df.head()

(28558, 12)

               0               1   2   3   4   5   6   7   8   9   10  11
0  fer0000000.png  (0, 0, 48, 48)   4   0   0   1   3   2   0   0   0   0
1  fer0000001.png  (0, 0, 48, 48)   6   0   1   1   0   0   0   0   2   0
2  fer0000002.png  (0, 0, 48, 48)   5   0   0   3   1   0   0   0   1   0
3  fer0000003.png  (0, 0, 48, 48)   4   0   0   4   1   0   0   0   1   0
4  fer0000004.png  (0, 0, 48, 48)   9   0   0   1   0   0   0   0   0   0

In [5]:
train_df['actual_label'] = train_df.iloc[:, 2:].idxmax(axis="columns")
pd.to_numeric(train_df['actual_label'])

0        2
1        2
2        2
3        2
4        2
        ..
28553    8
28554    6
28555    5
28556    2
28557    2
Name: actual_label, Length: 28558, dtype: int64

In [6]:
train_df['actual_label'] = train_df['actual_label'] - 2

In [7]:
train_df['actual_label'].head()

0    0
1    0
2    0
3    0
4    0
Name: actual_label, dtype: int64

In [8]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,actual_label
0,fer0000000.png,"(0, 0, 48, 48)",4,0,0,1,3,2,0,0,0,0,0
1,fer0000001.png,"(0, 0, 48, 48)",6,0,1,1,0,0,0,0,2,0,0
2,fer0000002.png,"(0, 0, 48, 48)",5,0,0,3,1,0,0,0,1,0,0
3,fer0000003.png,"(0, 0, 48, 48)",4,0,0,4,1,0,0,0,1,0,0
4,fer0000004.png,"(0, 0, 48, 48)",9,0,0,1,0,0,0,0,0,0,0

In [9]:
train_df['actual_label'].value_counts()

0    10295
1     7526
2     3557
3     3530
4     2463
6      655
5      191
8      171
7      168
9        2
Name: actual_label, dtype: int64

In [10]:
train_df = train_df.loc[(train_df.actual_label != 7) & (train_df.actual_label != 8) & (train_df.actual_label != 9)]
train_df['actual_label'].value_counts()

0    10295
1     7526
2     3557
3     3530
4     2463
6      655
5      191
Name: actual_label, dtype: int64

In [11]:
new_train_df = pd.DataFrame({'image_id': train_df.iloc[:, 0], 'label': train_df.actual_label})
print(new_train_df.shape)
new_train_df.head()

(28217, 2)

         image_id  label
0  fer0000000.png      0
1  fer0000001.png      0
2  fer0000002.png      0
3  fer0000003.png      0
4  fer0000004.png      0

In [12]:
new_train_df.to_csv('new_train.csv', index=False)

# Val part

In [13]:
path_val = './data/FER2013Valid/label.csv'
val_df = pd.read_csv(path_val, header=None)
print(val_df.shape)
val_df.head()

(3579, 12)

               0               1   2   3   4   5   6   7   8   9   10  11
0  fer0028638.png  (0, 0, 48, 48)   4   0   0   0   1   0   0   4   1   0
1  fer0028639.png  (0, 0, 48, 48)   1   0   0   1   0   2   0   6   0   0
2  fer0028640.png  (0, 0, 48, 48)   7   0   0   0   2   0   0   1   0   0
3  fer0028641.png  (0, 0, 48, 48)   5   5   0   0   0   0   0   0   0   0
4  fer0028642.png  (0, 0, 48, 48)   0  10   0   0   0   0   0   0   0   0

In [14]:
val_df['actual_label'] = val_df.iloc[:, 2:].idxmax(axis="columns")
pd.to_numeric(val_df['actual_label'])

0       2
1       9
2       2
3       2
4       3
       ..
3574    5
3575    3
3576    2
3577    2
3578    2
Name: actual_label, Length: 3579, dtype: int64

In [15]:
val_df['actual_label'] = val_df['actual_label'] - 2

In [16]:
val_df['actual_label'].head()

0    0
1    7
2    0
3    0
4    1
Name: actual_label, dtype: int64

In [17]:
val_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,actual_label
0,fer0028638.png,"(0, 0, 48, 48)",4,0,0,0,1,0,0,4,1,0,0
1,fer0028639.png,"(0, 0, 48, 48)",1,0,0,1,0,2,0,6,0,0,7
2,fer0028640.png,"(0, 0, 48, 48)",7,0,0,0,2,0,0,1,0,0,0
3,fer0028641.png,"(0, 0, 48, 48)",5,5,0,0,0,0,0,0,0,0,0
4,fer0028642.png,"(0, 0, 48, 48)",0,10,0,0,0,0,0,0,0,0,1

In [18]:
val_df['actual_label'].value_counts()

0    1329
1     899
2     458
3     415
4     325
6      71
5      32
7      26
8      23
9       1
Name: actual_label, dtype: int64

In [19]:
val_df = val_df.loc[(val_df.actual_label != 7) & (val_df.actual_label != 8) & (val_df.actual_label != 9)]
val_df['actual_label'].value_counts()

0    1329
1     899
2     458
3     415
4     325
6      71
5      32
Name: actual_label, dtype: int64

In [20]:
new_val_df = pd.DataFrame({'image_id': val_df.iloc[:, 0], 'label': val_df.actual_label})
print(new_val_df.shape)
new_val_df.head()

(3529, 2)

         image_id  label
0  fer0028638.png      0
2  fer0028640.png      0
3  fer0028641.png      0
4  fer0028642.png      1
5  fer0028643.png      1

In [21]:
new_val_df.to_csv('new_val.csv', index=False)

# Test part

In [22]:
path_test = './data/FER2013Test/label.csv'
test_df = pd.read_csv(path_test, header=None)
test_df.head()

               0               1   2   3   4   5   6   7   8   9   10  11
0  fer0032220.png  (0, 0, 48, 48)   0   0   0   0   2   1   0   7   0   0
1  fer0032222.png  (0, 0, 48, 48)   3   0   0   5   0   0   0   0   2   0
2  fer0032223.png  (0, 0, 48, 48)   6   0   1   2   0   0   0   0   1   0
3  fer0032224.png  (0, 0, 48, 48)   0   0   4   0   1   2   3   0   0   0
4  fer0032225.png  (0, 0, 48, 48)   0   0   0   0   9   0   1   0   0   0

In [23]:
test_df['actual_label'] = test_df.iloc[:, 2:].idxmax(axis="columns")
pd.to_numeric(test_df['actual_label'])

0       9
1       5
2       2
3       4
4       6
       ..
3568    2
3569    2
3570    6
3571    3
3572    2
Name: actual_label, Length: 3573, dtype: int64

In [24]:
test_df['actual_label'] = test_df['actual_label'] - 2

In [25]:
test_df['actual_label'].head()

0    7
1    3
2    0
3    2
4    4
Name: actual_label, dtype: int64

In [26]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,actual_label
0,fer0032220.png,"(0, 0, 48, 48)",0,0,0,0,2,1,0,7,0,0,7
1,fer0032222.png,"(0, 0, 48, 48)",3,0,0,5,0,0,0,0,2,0,3
2,fer0032223.png,"(0, 0, 48, 48)",6,0,1,2,0,0,0,0,1,0,0
3,fer0032224.png,"(0, 0, 48, 48)",0,0,4,0,1,2,3,0,0,0,2
4,fer0032225.png,"(0, 0, 48, 48)",0,0,0,0,9,0,1,0,0,0,4

In [27]:
test_df['actual_label'].value_counts()

0    1258
1     928
2     447
3     446
4     321
6      97
8      28
7      28
5      20
Name: actual_label, dtype: int64

In [28]:
test_df = test_df.loc[(test_df.actual_label != 7) & (test_df.actual_label != 8)]
test_df['actual_label'].value_counts()

0    1258
1     928
2     447
3     446
4     321
6      97
5      20
Name: actual_label, dtype: int64

In [29]:
new_test_df = pd.DataFrame({'image_id': test_df.iloc[:, 0], 'label': test_df.actual_label})
print(new_test_df.shape)
new_test_df.head()

(3517, 2)

         image_id  label
1  fer0032222.png      3
2  fer0032223.png      0
3  fer0032224.png      2
4  fer0032225.png      4
5  fer0032226.png      0

In [30]:
new_test_df.to_csv('new_test.csv', index=False)

## Add some classes from test data to train

In [31]:
test_surprise = new_test_df[new_test_df['label']==2]
test_sadness = new_test_df[new_test_df['label']==3]
test_anger = new_test_df[new_test_df['label']==4]
test_disgust = new_test_df[new_test_df['label']==5]
test_fear = new_test_df[new_test_df['label']==6]

In [32]:
print(test_surprise.shape)
print(test_sadness.shape)
print(test_anger.shape)
print(test_disgust.shape)
print(test_fear.shape)
print(test_surprise.shape[0] + test_sadness.shape[0] + test_anger.shape[0] + test_disgust.shape[0] + test_fear.shape[0])

(447, 2)
(446, 2)
(321, 2)
(20, 2)
(97, 2)
1331

In [33]:
new_train_test_df = new_train_df.append([test_surprise, test_sadness, test_anger, test_disgust, test_fear], ignore_index=True)

In [34]:
print(new_train_test_df.shape)

(29548, 2)

In [35]:
new_train_test_df.to_csv('new_train+test.csv', index=False)

## Sample some classes

In [36]:
new_train_test_df['label'].value_counts()

0    10295
1     7526
2     4004
3     3976
4     2784
6      752
5      211
Name: label, dtype: int64

In [37]:
sample_surprise = new_train_test_df[new_train_test_df['label']==2].sample(frac=1.7, replace=True, random_state=seed)
sample_surprise.shape

(6807, 2)

In [38]:
sample_sadness = new_train_test_df[new_train_test_df['label']==3].sample(frac=1.71, replace=True, random_state=seed)
sample_sadness.shape

(6799, 2)

In [39]:
sample_anger = new_train_test_df[new_train_test_df['label']==4].sample(frac=2, replace=True, random_state=seed)
sample_anger.shape

(5568, 2)

In [40]:
sample_disgust = new_train_test_df[new_train_test_df['label']==5].sample(frac=8, replace=True, random_state=seed)
sample_disgust.shape

(1688, 2)

In [41]:
sample_fear = new_train_test_df[new_train_test_df['label']==6].sample(frac=5, replace=True, random_state=seed)
sample_fear.shape

(3760, 2)

In [42]:
neutral_df = new_train_test_df[new_train_test_df['label'] == 0]
print(neutral_df.shape)
neutral_df.head()

(10295, 2)

         image_id  label
0  fer0000000.png      0
1  fer0000001.png      0
2  fer0000002.png      0
3  fer0000003.png      0
4  fer0000004.png      0

In [43]:
happiness_df = new_train_test_df[new_train_test_df['label'] == 1]
print(happiness_df.shape)
happiness_df.head()

(7526, 2)

          image_id  label
7   fer0000007.png      1
8   fer0000008.png      1
14  fer0000014.png      1
16  fer0000016.png      1
22  fer0000024.png      1

In [44]:
new_sampled = neutral_df.append([happiness_df, sample_surprise, sample_sadness, sample_anger, sample_disgust, sample_fear], ignore_index=True)
print(new_sampled.shape)
new_sampled.head()

(42443, 2)

         image_id  label
0  fer0000000.png      0
1  fer0000001.png      0
2  fer0000002.png      0
3  fer0000003.png      0
4  fer0000004.png      0

In [45]:
new_sampled.to_csv('new_sampled.csv', index=False)